/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                          &kp N6  &kp N7         &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E     &kp R     &kp T                           &kp Y   &kp U          &kp I      &kp O    &kp P     &kp KP_ENTER
&kp LEFT_SHIFT  &kp A   &kp S   &kp D     &kp F     &kp G                           &kp H   &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C     &kp V     &kp B   &kp MINUS    &kp EQUAL  &kp N   &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                &kp LALT  &kp LGUI  &mo 1   &kp SPACE    &kp SPACE  &mo 2   &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        layer_1 {
            bindings = <
&kp LA(F4)  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &kp DOLLAR     &kp PERCENT                             &kp CARET     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DELETE
&trans      &kp HOME         &kp UP_ARROW  &kp END    &kp PAGE_UP    &kp C_VOLUME_UP                         &kp N7        &kp N8         &kp NUMBER_9  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&trans      &kp LEFT_ARROW   &kp DOWN      &kp RIGHT  &kp PAGE_DOWN  &kp C_VOLUME_DOWN                       &kp NUMBER_4  &kp N5         &kp NUMBER_6  &trans                &trans                 &trans
&trans      &trans           &trans        &trans     &trans         &kp K_MUTE         &kp TILDE    &kp N0  &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &trans                &kp BACKSLASH          &trans
                                           &trans     &trans         &trans             &trans       &trans  &trans        &trans         &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                      &kp F6  &kp F7    &kp F8        &kp F9     &kp F10        &kp DELETE
&trans  &trans  &trans  &trans  &trans  &trans                      &trans  &kp HOME  &kp UP_ARROW  &kp END    &kp PAGE_UP    &trans
&trans  &trans  &trans  &trans  &trans  &trans                      &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp F11    &kp F12  &trans  &trans    &trans        &trans     &trans         &trans
                        &trans  &trans  &trans  &trans     &trans   &trans  &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&kp LA(F4)    &trans  &trans         &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans               &kp LC(LA(DEL))
&kp CAPSLOCK  &trans  &trans         &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &kp LG(PRINTSCREEN)  &trans
&trans        &trans  &kp LA(LC(S))  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans               &trans
&trans        &trans  &trans         &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans               &trans
                                     &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Layer3condition {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
